includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes

    level: 4

    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)

    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false
        -
            identifier: missingType.iterableValue
            reportUnmatched: false

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
